@model List<MyPortfolio_MVC.Models.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h2>Sosyal Medya</h2>
<br />

<table class="table table-bordered table-hover">

    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>Bağlantı Adresi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count </td>
            <td>@item.Name </td>
            <td>@item.Url</td>
            <td><a href="/SocialMedia/DeleteSM/@item.SocialMediaId" class="btn btn-outline-danger">Sil</a> </td>
            <td><a href="/SocialMedia/UpdateSM/@item.SocialMediaId" class="btn btn-outline-info">Güncelle</a> </td>

        </tr>

    }


</table>

<br />
<a href="/SocialMedia/CreateSM" class="btn btn-outline-success">Yeni Sosyal Medya Ekle</a>