@model MyPortfolio_MVC.Models.TblAbout
@{
    ViewBag.Title = "AboutUpdate";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Hakkımda Güncelleme Sayfası</h2>

<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.AboutId)

    <div>
        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <label>Açıklama</label>
        @Html.TextAreaFor(x => x.Discription, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <label>Resim Yükle</label>
        <input type="file" name="ImageFile" class="form-control" />
    </div>
    <br />
    <div>
        <label>CV Yükle(PDF)</label>
        <input type="file" name="CvFile" accept=".pdf" class="form-control" />
    </div>
    <br />
    <button class="btn btn-danger">Güncelle</button>
</form>