@model MyPortfolio_MVC.Models.TblMessage
@{
    ViewBag.Title = "MessageDetail";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Mesaj İçeriği</h2>

<table class="table table-striped">
    <tr>
        <th>Gönderen Ad Soyad: </th>
    </tr>


</table>