@model MyPortfolio_MVC.Models.TblContact
@{
    ViewBag.Title = "UpdateContact";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>İletişim Güncelleme Sayfası</h2>

<form method="post" enctype="multipart/form-data">

    @Html.HiddenFor(x => x.ContactId)

    <div>
        <label>Telefon Numarası</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        <br />
    </div>

    <div>
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        <br />
    </div>

    <button class="btn btn-danger">Güncelle</button>

</form>